@import '../reset';
@import 'variables';
@import './button';
@import '../mixins';
* {
  box-sizing: border-box;
}
a {
  color: inherit;
  text-decoration: none;
}
body {
  color: #484848;
}
header {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: space-evenly;
  text-transform: uppercase;
  height: 120px;
  align-items: center;
  font-family: $sub-font;
  .logo {
    font-size: 1.5em;
  }
  .nav-left {
    display: flex;
    justify-content: flex-start;
    width: 33%;
    font-size: 0.8em;
    li {
      margin-right: 30px;
    }
  }
  .nav-right {
    display: flex;
    justify-content: flex-end;
    width: 33%;
    font-size: 0.8em;
    li {
      margin-right: 30px;
    }
  }
  @include responsive('phone') {
    height: 80px;

    .nav-left {
      display: none;
      width: 0;
    }
    .nav-right {
      display: none;
      width: 0;
    }
    justify-content: center;
    .logo::before {
      content: '☰';
      margin-right: 80px;
    }
    .logo::after {
      content: 'cart';
      margin-left: 60px;
    }
  }
}
.main-section {
  margin-top: 160px;
  font-family: $main-font;
  color: #414141;
}
.main-content {
  display: flex;
  width: 100%;
  margin: $article_margin 0;
  text-align: center;

  .main-picture {
    width: 50%;
    img {
      width: 100%;
      height: 100%;
    }
  }
  .main-description {
    width: 50%;
    display: flex;
    background-color: #fbf7f6;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    p {
      margin-bottom: 80px;
      font-size: 2.2em;
      width: 520px;
    }
    button {
      @extend %button;
    }
  }
  @include responsive('phone') {
    flex-direction: column;
    .main-picture {
      width: 100%;
    }
    .main-description {
      width: 100%;
      font-size: 0.7em;
      padding: 40px 0;
      p {
        width: 80%;
      }
    }
  }
  @include responsive('small') {
    flex-direction: column;
    .main-picture {
      width: 100%;
    }
    .main-description {
      width: 100%;
      font-size: 0.7em;
      padding: 40px 0;
    }
  }
  @include responsive('medium') {
    flex-direction: column;
    .main-picture {
      width: 100%;
    }
    .main-description {
      width: 100%;
      font-size: 0.8em;
      padding: 40px 0;
    }
  }
}
.sub-section {
  width: 80%;
  margin: 0 auto;
  @include responsive('phone') {
    width: 100%;
  }
  @include responsive('small') {
    width: 100%;
    margin: 0;
  }
}
.article-style1 {
  display: flex;
  // article margin * 2, because of margin collapsing
  margin-top: 80px;
  div {
    width: 50%;
  }
  img {
    width: 100%;
    height: 100%;
  }
  .article-style1-description {
    background-color: #f3ede8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .style1-description-text {
      font-size: 2em;
      width: 400px;
      margin-bottom: 60px;
      text-align: center;
    }
    button {
      @extend %button;
    }
  }
  @include responsive('phone') {
    flex-direction: column;
    div {
      width: 100%;
    }
    .article-style1-description {
      padding: 40px 0;
    }
    .style1-description-text {
      font-size: 1.5em;
    }
  }
  @include responsive('small') {
    flex-direction: column;
    div {
      width: 100%;
    }
    .article-style1-description {
      padding: 40px 0;
    }
  }
  @include responsive('medium') {
    flex-direction: column;
    div {
      width: 100%;
    }
    .article-style1-description {
      padding: 40px 0;
    }
  }
}
.small-title {
  text-transform: uppercase;
  font-family: $sub-font;
  margin-bottom: 30px;
}
.article-style2 {
  display: flex;
  width: 100%;
  margin-top: 80px;
  flex-direction: column;
  align-items: center;
  .article-style2-title {
    font-size: 2.2em;
    margin-bottom: 100px;
    text-align: center;
  }
  .style2-item-wrapper {
    display: flex;
    justify-content: space-between;
    .style2-item {
      display: flex;
      flex-direction: column;
      align-items: center;

      width: 30%;
      .small-title {
        margin-bottom: 15px;
      }
      .style2-item-title {
        font-size: 1.6em;
        color: $greyColor;
        font-style: italic;
        margin-bottom: 30px;
        text-align: center;
      }
      .price {
        font-family: $sub-font;
        color: $greyColor;
        margin-bottom: 30px;
      }

      .style2-item-picture {
        width: 100%;
        margin-bottom: 50px;
        img {
          width: 100%;
        }
      }
    }
  }
  @include responsive('phone') {
    .style2-item-wrapper {
      width: 100%;
      overflow: scroll;
      display: grid;
      grid-auto-flow: column;
      grid-auto-columns: 100vw;

      .style2-item {
        width: 80%;
        margin-right: 10%;
        margin-left: 10%;
      }
      button {
        width: 80%;
      }
    }
  }
  @include responsive('small') {
    .style2-item-wrapper {
      width: 100%;
      overflow: scroll;
      display: grid;
      grid-auto-flow: column;
      grid-auto-columns: 100vw;

      .style2-item {
        width: 80%;
        margin-right: 10%;
        margin-left: 10%;
      }
      button {
        width: 80%;
      }
    }
  }
  @include responsive('medium') {
    .style2-item-wrapper {
      width: 100%;
      button {
        width: 100%;
      }
    }
  }
}
.center-button {
  @extend %button;
  justify-content: center;
  div {
    margin: 0;
    text-align: center;
  }
}
#article3 {
  background-color: #dee8e9;
}

.article-style3 {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;
  .style3-title {
    font-size: 2.2em;
    margin-bottom: 60px;
    text-align: center;
  }
  .style3-items {
    display: flex;
    margin-bottom: 60px;
    justify-content: center;
    img {
      width: 80%;
      margin: 0 10%;
    }
    .style3-item {
      border-right: 1px solid $greyColor;
      &:last-child {
        border-right: none;
      }
      .number {
        color: $greyColor;
        text-align: center;
      }
    }
    @include responsive('phone') {
      width: 100%;
      overflow-y: hidden;
      overflow-x: scroll;
      display: grid;
      grid-auto-flow: column;
      grid-auto-columns: 50vw;
    }
    @include responsive('small') {
      min-height: 200px;
      width: 100%;
      overflow-y: hidden;
      overflow-x: scroll;

      // why??
      padding-left: 50vw;
      display: grid;
      grid-auto-flow: column;
      grid-auto-columns: 25vw;
    }
  }
}

.article-style4 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 80px;
  grid-auto-rows: 30vw;
  .item {
    border: solid 1px black;
  }
  @include responsive('phone') {
    grid-template-columns: 1fr;
    grid-auto-rows: 60vw;
  }
  @include responsive('small') {
    grid-template-columns: 1fr;
    grid-auto-rows: 60vw;
  }
}
.article-style5 {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  .style5-title {
    font-size: 2.2em;
    width: 60%;
    text-align: center;
    margin-bottom: 60px;
  }
  .input-area {
    width: 50%;
    padding-bottom: 20px;
    border-bottom: 1px solid $greyColor;
    input {
      border: none;
      font-size: 2.5em;
      width: calc(100% - 50px);
      &:focus {
        outline: none;
      }
      &::placeholder {
        font-family: $main-font;
        color: $greyColor;
      }
    }
    @include responsive('phone') {
      width: 80%;
      input::placeholder {
        font-size: 0.7em;
      }
    }
    button {
      @extend %button;
      float: right;
      width: 50px;
      height: 50px;
      justify-content: center;
      div {
        font-size: 1.7em;
        margin: 0;
        text-align: center;
        line-height: 50px;
      }
    }
  }
}
.article-style6 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 20vw;
  margin: 80px 0;

  .item {
    &:hover {
      animation: style6-hover-animation 0.4s ease;
      -webkit-animation-fill-mode: both;
    }
    &:nth-child(odd) {
      background-color: #a5a39f;
    }
    &:nth-child(even) {
      background-color: #adbec7;
    }
    &:nth-child(3n + 1) {
      background-color: #927d71;
    }
    &:nth-child(6) {
      background-color: #e5cfbd;
    }
  }
  @include responsive('phone') {
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 50vw;
  }
  @include responsive('small') {
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 50vw;
  }
}
@keyframes style6-hover-animation {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.5;
  }
}
.article-style7 {
  display: flex;
  justify-content: center;
  margin: 100px 0;
  font-size: 2.5em;
  p {
    float: right;
    color: $greyColor;
  }
}

footer {
  display: flex;
  justify-content: space-between;
  background-color: #f3ede8;
  padding: 70px 20%;
  font-family: $sub-font;
  text-transform: uppercase;
  .footer-div {
    width: 100%;
    border-right: 1px solid $greyColor;

    display: flex;
    flex-direction: column;
    align-items: center;
    &:last-child {
      border-right: none;
    }
    .footer-title {
      margin-bottom: 30px;
      color: $greyColor;
    }
    ul > li {
      text-align: center;
      margin: 15px;
    }
    @include responsive('phone') {
      border-right: none;
      border-bottom: 1px solid $greyColor;
      padding-bottom: 20px;
      margin-bottom: 20px;
    }
    @include responsive('small') {
      border-right: none;
      border-bottom: 1px solid $greyColor;
      padding-bottom: 20px;
      margin-bottom: 20px;
    }
  }
  @include responsive('phone') {
    flex-direction: column;
  }
  @include responsive('small') {
    flex-direction: column;
  }
}
