// @import '../reset';
@import 'input';
@import 'anchor';
@import 'dropdown';
@import '../mixins';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;600&display=swap');
* {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  box-sizing: border-box;
}
h3 {
  font-size: 2.3em;
  text-transform: uppercase;
  font-weight: 600;
}
header {
  width: calc(100% - 100px);
  border-top: 1px solid black;
  border-left: 1px solid black;
  margin: 0 auto 150px auto;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: 50px 80px 80px;
  text-align: center;
  aside {
    background-color: black;
    grid-column: 8 span;
    color: white;
    line-height: 50px;
    text-transform: uppercase;
  }
  & > div {
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    background-color: white;
    line-height: 80px;
    font-size: 1.1em;
    font-weight: 500;
    &:not(.logo):not(.currency):not(.bag) {
      grid-column: 2 span;
    }
  }
  .logo {
    grid-column: 4 span;
    font-size: 1.8em;
  }
  input {
    @extend %input;
  }
  .currency {
    .aWrapper {
      @include anchor('Currency');
      width: 100%;
      height: 100%;
    }
    @include dropDownList;
    .dropdown {
      width: calc(100% + 2px);
    }
  }
  .bag {
    @include anchor('Bag');
  }
  .jeans {
    .aWrapper {
      @include anchor('Jeans');
      color: blue;
      width: 100%;
      height: 100%;
    }
    @include dropDownList;
    .dropdown {
      width: calc(400% + 5px);
    }
    .jeans-items {
      display: grid;
      grid-template-columns: 1fr 1fr;
      div {
        &:nth-child(even) {
          border-left: 1px solid black;
        }
        img {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
  .women {
    .aWrapper {
      @include anchor('Women');
      width: 100%;
      height: 100%;
    }
    @include dropDownList;
    .dropdown {
      width: calc(400% + 5px);
      left: calc(-100% - 2px);
    }
    .women-items {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-auto-rows: 40px;
      font-weight: 300;
      font-size: 0.8em;
      padding-bottom: 30px;
    }
  }
  .men {
    .aWrapper {
      @include anchor('Men');
      width: 100%;
      height: 100%;
    }
    @include dropDownList;
    .dropdown {
      width: calc(400% + 5px);
      left: calc(-200% - 3px);
    }
    .men-items {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-auto-rows: 40px;
      font-weight: 300;
      font-size: 0.8em;
      padding-bottom: 30px;
    }
  }
  .jounal {
    @include anchor('Jounal');
  }

  @include responsive('small') {
    width: calc(100% - 50px);
    grid-template-rows: 30px 50px 50px;
    font-size: 0.8em;
    aside {
      line-height: 30px;
    }
    div {
      line-height: 50px;
    }
  }
  @include responsive('phone') {
    width: calc(100% - 50px);
    grid-template-rows: 30px 50px 50px;
    font-size: 0.6em;
    aside {
      line-height: 30px;
    }
    div {
      line-height: 50px;
    }
  }
}

.main_1 {
  background-image: url('https://media.giphy.com/media/l1IYeMYOpX2cI1lyU/giphy.gif');
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 50vw;
  margin-bottom: 200px;
  h3 {
    color: white;
    margin-bottom: 15px;
  }
  ul {
    list-style: none;
    display: flex;
    padding: 0;
    li {
      margin: 0 30px;
      a {
        color: white;
      }
    }
  }
}
.main_2 {
  width: 100%;
  min-height: 90vw;
  display: flex;
  margin-bottom: 200px;
  & > div {
    width: 50%;
  }
  .image {
    background-image: url('https://images.unsplash.com/photo-1593642633279-1796119d5482?ixid=MXwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=934&q=80');
    background-position: center;
    background-size: cover;
  }
  .content {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    padding: 10%;
    h1 {
      font-size: 4em;
      text-transform: uppercase;
      margin-bottom: 0.5em;
      word-wrap: break-word;
    }
    p {
      color: grey;
      margin-bottom: 3em;
    }
    img {
      margin-bottom: 2em;
    }
    a {
      font-size: 1.3em;
      font-weight: 500;
    }
  }
  @include responsive('small') {
    flex-direction: column;
    & > div {
      width: 100%;
    }
    .content {
      padding: 30px;
      h1 {
        font-size: 2em;
      }
    }
  }
  @include responsive('phone') {
    flex-direction: column;
    & > div {
      width: 100%;
    }
    .content {
      padding: 30px;
      h1 {
        font-size: 2em;
      }
    }
  }
}
section {
  width: calc(100% - 100px);
  margin: 0 auto 200px auto;
  h2 {
    text-align: center;
    font-weight: 600;
    font-size: 3em;
    margin-bottom: 60px;
  }
  @include responsive('small') {
    width: calc(100% - 50px);
    h2 {
      font-size: 1.7em;
      margin-bottom: 40px;
    }
  }
  @include responsive('phone') {
    width: calc(100% - 50px);
    h2 {
      font-size: 1.7em;
      margin-bottom: 40px;
    }
  }
}
.items {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 50vw 70px;
  background-color: white;
  border-top: 1px solid black;
  border-left: 1px solid black;
  & > div {
    border-right: 1px solid black;
    border-bottom: 1px solid black;
  }
  .detail {
    p {
      margin: 15px;
      font-size: 1.2em;
    }
    h5 {
      color: teal;
      margin: 16px;
      font-size: 1.3em;
      text-transform: uppercase;
    }
  }
  .subtitle {
    grid-column-start: 2 span;
    text-align: center;
    line-height: 70px;
    font-size: 1.7em;
    order: 1;
  }
  img {
    width: 100%;
    max-height: 60%;
    display: block;
  }
  @include responsive('small') {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 100vw 50px 100vw 50px;
    .subtitle {
      order: 0;
      line-height: 50px;
      font-size: 1.3em;
    }
  }
  @include responsive('phone') {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 110vw 50px 110vw 50px;
    .subtitle {
      order: 0;
      line-height: 50px;
      font-size: 1.3em;
    }
  }
}
footer {
  width: calc(100% - 100px);
  margin: 0 auto 50px auto;

  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  border-top: 1px solid black;
  border-left: 1px solid black;
  & > div {
    border-right: 1px solid black;
    border-bottom: 1px solid black;
  }
  .footer-links {
    grid-column: 1 / -1;
  }
  .footer-signup {
    padding: 30px;
    h4 {
      margin-bottom: 15px;
    }
    .input {
      display: grid;
      margin: 2px;
      grid-template-columns: 3fr 1fr 1fr;
      height: 50px;
      border-top: 1px solid black;
      border-left: 1px solid black;
      input {
        border-bottom: 1px solid black;
        border-right: 1px solid black;
        border-top: none;
        border-left: none;
        padding: 5px 20px;
      }
      a {
        display: block;
        border-bottom: 1px solid black;
        border-right: 1px solid black;
        text-align: center;
        line-height: 50px;
      }
      @include responsive('phone') {
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: 40px;
        input {
          grid-column: 2 span;
        }
        height: 80px;
      }
    }
  }
  @include responsive('small') {
    margin: 0 auto 30px auto;
    width: calc(100% - 50px);
    grid-template-columns: 1fr 1fr;
    .footer-signup {
      grid-column: 2 span;
    }
  }
  @include responsive('phone') {
    width: calc(100% - 50px);
    margin: 0 auto 30px auto;
    font-size: 0.8em;
    grid-template-columns: 1fr 1fr;
    .footer-signup {
      grid-column: 2 span;
    }
  }
}
.footer-shopping,
.footer-company {
  padding: 30px;
  h4 {
    margin-bottom: 15px;
  }
  .links {
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 0.8em;
    a {
      text-decoration: none;
      color: grey;
    }
  }
  @include responsive('small') {
    .links {
      grid-template-columns: 1fr;
      grid-auto-rows: 25px;
    }
    a,
    h4 {
      text-align: center;
    }
  }
  @include responsive('phone') {
    .links {
      grid-template-columns: 1fr;
      grid-auto-rows: 25px;
    }
    a,
    h4 {
      text-align: center;
    }
  }
}
.footer-links {
  position: relative;
  .links {
    position: absolute;
    left: 35px;
    top: 10px;
    a {
      margin-right: 30px;
      text-decoration: none;
      color: grey;
    }
  }
  p {
    text-align: center;

    line-height: 40px;
  }
  @include responsive('small') {
    p {
      text-align: right;
      margin-right: 30px;
    }
  }
  @include responsive('phone') {
    p {
      text-align: right;
      margin-right: 20px;
    }
    .links {
      left: 20px;
      a {
        margin-right: 20px;
      }
    }
  }
}
